@{
  Layout = "_Layout";
}

@using Museum.Models;
@using System;
@model List<Museum.Models.Gallery>;

<h1>Galleries</h1>

@if (@Model.Count == 0)
{
  <h3>No galleries have been added yet!</h3>
}

<table class="table">
  <thead>
    <tr>
      <th>
        Gallery Name
      </th>
      <th>
        Artists
      </th>
      <th>
        Artworks
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (Gallery gallery in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelGallery => gallery.GalleryName)
        </td>
        <td>
        @if (gallery.JoinArtistGallery.Count == 0)
          {
                <p>No artists on display</p>
          }
          <ul>
          @foreach (var join in gallery.JoinArtistGallery)
          {
            <li>@join.Artist.ArtistName</li>
          }
          </ul>
          
      </td>
        <td>
          @* <!-- @if (gallery.JoinArtworkGallery.Count == 0)
          {
                <p>No artwork on display</p>
          }
          @foreach (var join in gallery.JoinArtworkGallery)
          {
            @join.Artwork.Title
          } --> *@
      </td>
        <td>
          @Html.ActionLink("Details", "Details", new { id = gallery.GalleryId }) |
          @Html.ActionLink("Edit", "Edit", new { id = gallery.GalleryId }) | 
          @Html.ActionLink("Add Artist", "AddArtist", new { id = gallery.GalleryId })
        </td>
      </tr>
    }
  </tbody>
</table>

<hr />
<p>@Html.ActionLink("Add new gallery", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>