@{
  Layout = "_Layout";
}

@model Museum.Models.Artist

<h2>Edit</h2>

<h4>Edit this Artist: @Html.DisplayFor(model => model.ArtistName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ArtistId)

    @Html.LabelFor(model => model.ArtistName)
    @Html.EditorFor(model => model.ArtistName)

    @Html.Label("Select Gallery")
    @Html.DropDownList("GalleryId")

    <input type="submit" value="Save" />
}
<hr />
<p>@Html.ActionLink("Back to list", "Index")</p>